# Common

Language: Cpp
Standard: c++20
UseTab: Never
ColumnLimit: 80
IndentWidth: 4

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true # deprecated after 19
BreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
FixNamespaceComments: true
IndentAccessModifiers: false
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Middle
ReferenceAlignment: Middle
SpaceBeforeRangeBasedForLoopColon: true
